.header_container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff;
  z-index: 100%;
  width: 100%;
  margin-top: 10px;
  height: 80px;
}
.header_container > img{
  
  object-fit: contain;
  height: 40px;
  margin-left: 20px;
  margin-bottom: 10px
}

.header_center{
  display: flex;
  align-items: center;
  flex: 1;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
  max-width: fit-content;
  padding: 10px
}

.header_center > input{
  border: none;
  outline: none;
  width: 250px;
  padding: 10px;

}

.header_right{
  display:flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}